$color-second_text : #FFD700;
$nav_text_color : #F5EFF5;
$border : 2px solid hsla(110, 50%, 50%, 0.311);
$shadowColor: hsla(110, 100%, 50%, 0.907); // add 4d effects //
$steps: 30;
$line_color : rgb(43, 255, 0);


//? Main header ---------//
$primary-color: #333;
$scroll-nav-color: #fff;
$scroll-nav-background: #333;

@mixin center-vertically {
  display: flex;
  align-items: center;
}

// Breakpoints
$breakpoint-mobile: 768px;
//! -------  Start Animation List -------------------- //


// //* social media icon **//
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

// //* button animation **//

@keyframes glitch {
  0% {
    clip-path: var(--clip-one);
  }

  2%,
  8% {
    clip-path: var(--clip-two);
    transform: translate(calc(var(--shimmy-distance) * -1%), 0);
  }

  6% {
    clip-path: var(--clip-two);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }

  9% {
    clip-path: var(--clip-two);
    transform: translate(0, 0);
  }

  10% {
    clip-path: var(--clip-three);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }

  13% {
    clip-path: var(--clip-three);
    transform: translate(0, 0);
  }

  14%,
  21% {
    clip-path: var(--clip-four);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }

  25% {
    clip-path: var(--clip-five);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }

  30% {
    clip-path: var(--clip-five);
    transform: translate(calc(var(--shimmy-distance) * -1%), 0);
  }

  35%,
  45% {
    clip-path: var(--clip-six);
    transform: translate(calc(var(--shimmy-distance) * -1%));
  }

  40% {
    clip-path: var(--clip-six);
    transform: translate(calc(var(--shimmy-distance) * 1%));
  }

  50% {
    clip-path: var(--clip-six);
    transform: translate(0, 0);
  }

  55% {
    clip-path: var(--clip-seven);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }

  60% {
    clip-path: var(--clip-seven);
    transform: translate(0, 0);
  }

  31%,
  61%,
  100% {
    clip-path: var(--clip-four);
  }
}




//* end of button animation//

//* contact page anime  //
@keyframes anime {
  1% {
    transform: rotateX(10deg) skewX(90deg);
  }

  2% {
    transform: rotateY(10deg) skewY(90deg);
  }
}

//* end of contact page anime //

//! -------  End Animation List -------------------- //
